
  body{

    background: #ffffff;
    background: radial-gradient(circle, rgba(0, 230, 118, 0.38) 0%, rgba(134, 247, 208, 0.4) 18%, rgba(237, 255, 244, 0.47) 54%, rgba(255, 247, 247, 1) 100%);
    height: 100vh;
  }